<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boredream.bdvideoplayer">
    <!--访问网络连接，可能产生GPRS流量-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--获取网络信息状态，如当前的网络连接是否有效-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

    </application>

</manifest>
